*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border: 5px solid black;
}

#grid
{
    display: grid;
    border: 5px solid black;
    width: max(36vw, 400px);
    aspect-ratio: 1 / 1;
    grid-template-rows: repeat(3, 1fr);
}
.grid-row
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    font-size: xx-large;
}